<div class="container" style="padding: 20%; text-align: center;">
    <p style="text-align: center; ; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;font-size: 20pt;">N'hésiter pas de me contacter :</p>
    <p style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;font-size: 16pt;">TEL : (+216) 21 455 787</p>   
    <p style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;font-size: 16pt;">EMAIL :  sabbaghala@gmail.com</p>
    <p style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;font-size: 16pt;">Facebook : Aladin Sabbagh</p>

</div>
