<div class="border-bottom border-dark" style=" width: 100% ; position: fixed; background-color: white;">
<nav class='navbar'>
  <ul class='nav nav-pills'>
   <li ><a style="font-weight: bold; color: black;" class='nav-link' routerLink="/accueil">Accueil</a></li>
   <li><a style="font-weight: bold; color: black;" class='nav-link' routerLink="/competence">Compétence</a></li>
   <li><a style="font-weight: bold; color: black;" class='nav-link' routerLink="/contact">Contact</a></li>
   <li><a style="font-weight: bold; color: black;" class='nav-link' routerLink="/projects">Projects</a></li>
   </ul>
  </nav>
</div>
<div  style="height: 50px; ">

</div>



<router-outlet></router-outlet>
